<div class="container">
    <div class="jumbotron">
        <!---h1 class="display-4">MultiApps</h1--->
        <h3 >A site to experiment with apps on Rails.</h3>
        <p class="lead">This project is a intended to demonstrate a more or less standard web application 
        using the Ruby on Rails web application framework. Frontend 
        technologies employed are HTML, CSS, and Javascript in conjunction with the 
        Bootstrap CSS framework. The database engine is PostgreSQL. This application is 
        hosted on Heroku.com, a PaaS(Platform as a Service) website. Source code 
        management and posting to Heroku is acheived through the use of the Git version 
        control system. Choose an App from the buttons below.</p>
        <p class="lead">
        <a class="btn btn-primary btn-mod ml-2" href="#" role="button">Articles</a>
        <a class="btn btn-primary btn-mod ml-2" href="#" role="button">Hamming Tests</a>
        </p>
    </div>
</div>

